<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mini_ssafy_heaven.dao.GameDao">
  <select id="findIdsIn" parameterType="java.util.List">
  	SELECT id
  	FROM games
  	WHERE id IN
  	<foreach collection="list" item="id" index="idx" separator="," open="(" close=")">
  		#{id}
  	</foreach>
  </select>
	<select id="findAll">
		SELECT id, title, description, max_round
		FROM games;
	</select>
	<select id="findById">
		SELECT id, title, description, max_round
		FROM games
		WHERE id=#{id}
	</select>
</mapper>