<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mini_ssafy_heaven.dao.MemberDao">
  <select id="existsById" resultType="boolean">
  	SELECT IF(COUNT(*)=1, true, false)
  	FROM members
  	WHERE id=#{id};
  </select>
  <insert id="addMember" useGeneratedKeys="true" keyProperty="member">
  	INSERT INTO members
  	VALUES (#{member.username}, #{member.password}, #{member.nickname});
  </insert>
</mapper>