<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mini_ssafy_heaven.dao.RoomGameDao">
  <insert id="save" useGeneratedKeys="true" keyProperty="roomGame.id">
    INSERT INTO room_games (current_round, round_limit, room_id, game_id, created_at, updated_at)
    VALUES (#{roomGame.currentRound}, #{roomGame.roundLimit}, #{roomGame.roomId}, #{roomGame.gameId}, #{createdAt}, #{updatedAt});
  </insert>
</mapper>